.contact-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.contact-text {
    /* Adjust as needed */
    text-align: left;
    font-family: 'Simoncini';
    font-size: 25px;
    font-weight: 200;
    color: white;
    z-index: 10;
    margin: 50px;
}

.contact-content {
    position: relative;
    z-index: 3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    color: #D9D9D9;
    padding: 0 10%; /* Add some horizontal padding */
}

.contact-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #D9D9D9;
    background-color: rgba(0, 0, 0, 0.5);
    color: #D9D9D9;
}

.contact-form textarea {
    height: 100px;
    resize: vertical;
}

.contact-form button {
    padding: 10px;
    background-color: #D9D9D9;
    color: #000;
    border: none;
    cursor: pointer;
}

.contact-form button:hover {
    background-color: #fff;
}

.contact-title {
    font-family: 'Simoncini';
    font-size: 45px;
    color: #D9D9D9;
    margin-bottom: 20px;
}
