  #progress {
    position: relative;
    top: 20px;
    left: 20px;
    transform: rotate(-90deg);
  }
  
  circle {
    stroke-dashoffset: 0;
    stroke-width: 15%;
    fill: none;
  }
  
  .bg {
    stroke: var(--accent);
    opacity: 0.3;
  }
  
  #progress .indicator {
    stroke: var(--accent);
  }
  
  .carrousel-ul {
    display: flex;
    list-style: none;
    height: 320px;
    overflow-x: scroll;
    padding: 40px 0;
    flex: 0 0 100%;
    margin: 0 auto;
  }

  
  li {
    flex: 0 0 320px;
    background-color: transparent;
    margin: 0 20px 0 0;
  }
  
  li:last-of-type {
    margin: 0;
  }
  
  .carrousel-container {
    border-radius: 25px;
    display: flex;
    width: 70vw;
    padding-top: 10vh;
    flex-direction: row;
  }

  .scrollable-zoom {
    background-color: transparent;
    transition: transform 0.5s;
    width: 320px;
    height: 320px;
    border-radius: 25px;
    margin-bottom: 10px;
    cursor: pointer;
  }
  
  .scrollable-zoom:hover {
    transform: scale(1.05);
  }

  .carrousel-li {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px;
  }

  .carrousel-text {
    color: white;
    /* font-family: 'Simoncini'; */
    font-family: 'Lato';
    font-size: 12px;
    width: 100%;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 35px;
  }