.section-container-dark {
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    min-height: 100vh;
    flex-direction: column;
    display: flex;
    background-image: url("../../assets/Background.png");
  }

  .section-container-light {
    width: 100%;
    overflow-x: hidden;
    flex-direction: column;
    height: 100vh;
    display: flex;
    background-image: url("../../assets/BackgroundLight.png");
  }
  
  .section-title {
    font-family: 'Simoncini';
    font-size: 55px;
    width: 100%;
    color: 'white';
    padding-top: 20px;
    padding-left: 70px;
  }

  .section-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    text-align: center; /* Center text inside content */
  }
  