/* @font-face {
  font-family: 'Raccosetta';
  src: url('./fonts/Raccosetta.ttf') format('truetype');
}

@font-face {
  font-family: 'Praktika-Light';
  src: url('./fonts/Praktika-Light.otf') format('opentype');
} */

@font-face {
  font-family: 'Simoncini';
  src: url('./assets/fonts/Simoncini-Garamond-Regular.otf') format('opentype'),
  /* Add additional font formats if necessary */
  /* Specify the correct path to the font files */
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    overflow-y: hidden;
    overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.scroll-container {
  height: 100vh;
  overflow-y: auto;
}