.main-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
}

.zoom {
  transition: transform 1s;
  width: 390px;
  height: 390px;
  border-radius: 25px;
  cursor: pointer;
}

.zoom:hover {
  transform: scale(1.1);
}

.campaign-text-container:hover {
  transform: scale(1.05);
}

.campaign-text-container {
  width: 510px;
  height: 310px;
  transition: transform 0.5s;
  cursor: pointer;
  margin: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  font-family: 'Simoncini', sans-serif;
  background-image: url('../../assets/025.jpg');
  background-size: cover;
  background-position: center;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: overlay;
}

.campaign-title {
  font-size: 28px;
  font-weight: bold;
  font-weight: 300;
  margin-bottom: 10px;
  color: white;
}

.campaign-subtitle {
  font-size: 16px;
  color: white;
}

/* Media Queries */
@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .zoom {
    width: 300px;
    height: 300px;
  }

  .campaign-text-container {
    width: 310px;
    height: 310px;
  }

  .campaign-title {
    font-size: 24px;
  }

  .campaign-subtitle {
    font-size: 14px;
  }
}

@media screen and (max-width: 480px) {
  .zoom {
    width: 250px;
    height: 250px;
  }

  .campaign-text-container {
    width: 310px;
    height: 310px;
  }

  .campaign-title {
    font-size: 20px;
  }

  .campaign-subtitle {
    font-size: 12px;
  }
}
